/*Starts main page - carousel*/
#navbar_white li{
    font-size: 18px;
}

.navbar-brand{
    font-size: 24px;
}

.navbar-wrapper nav{
    
    margin-bottom: 0;
}

.carousel {
    height: 742px;
    margin-bottom: 100px;
}

.carousel-caption {
    z-index: 10;
    padding-bottom: 63px;
}

.carousel-caption h1{
    font-size: 27px;
    margin-bottom: 25px;
}

.carousel-caption p{
    font-size: 22px;
    padding-bottom: 28px;
    margin-bottom: 90px;
}
  
.carousel .item {
    height: 750px; 
}

.carousel-inner  .item  img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}

.marketing .col-lg-4 {
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

#marketing-button a{
    margin-bottom: 60px;
}
/*End main page*/

/*Start art works*/
.similarTitle p a {
    font-size: 13px;
    font-weight: bold;
}

.similarTitle img {
    margin-left: 28px;
}

.similarTitle p{
    margin-left: 10px;
    margin-top: -12px;
}

.similarTitle button{
    margin-top: -5px;
    margin-left: 10px;
    margin-bottom: 13px;
    margin-right: -12px;
}

#table_adjustment {
    margin-top: -17px;
    margin-bottom: -39px;
}

#panel_negative{
    margin-top: -8px;
}

#panel_adjustment1 p{
    font-size: 12px;
} 

#panel_adjustment1 h3{
    font-size: 14px;
    margin-bottom: -1px;
    margin-top: -1px;
}

#panel_adjustment1 ul li{
    padding: 15px;
    margin-top: 2px;
}

#panel_adjustment2 ul li{
    padding: 7px;
    margin-top: 2px;
    margin-left: 10px;
}

#panel_adjustment2 h3{
    font-size: 14px;
    margin-bottom: -1px;
    margin-top: -1px;
}

#panel_adjustment3 h3{
    font-size: 14px;
    margin-bottom: -1px;
    margin-top: -1px;
}

#panel_adjustment3 ul li{
    padding: 7px;
    margin-top: 2px;
    margin-left: 10px;
}
/*End art works*/

/*Start about page*/
.jumbotron{
    background-image: url('images/whistler-small2.jpg');
}

.jumbotron h2{
    color: white;
    padding-bottom: 24px;
}

.jumbotron p{
    color: white;
    font-size: 21px;
    margin-bottom: 5px;
}
/*End about page*/

/* Start footer */
footer {
    margin-top: 1.5em;
    background-color: #E7E7E7;
}

.tight-form-group input{ 
     margin-bottom: 6px;
}
 
.tight-form-group textarea{
     margin-bottom: 5px;
}
 
.tight-form-group button{
     width: 263px;
}

#copyrightRow { 
     background-color: #3A3A3A; 
     height: 55px;
     color: white;
     margin-top: 20px;
     text-align: center;
     padding-top: 15px;
}

#copyrightRow span{
    padding-left: 8px;
}
 /* End footer */